
/********************************/
/** Structure Tree Node icons   */
/********************************/
.x-grid3-col-0 {margin-left:3px;}

.ux-treegrid-icon{background-position:center;  background-repeat:no-repeat;  border:0px none;  height:18px;
  margin:0px;  padding:0px;  position: absolute;  vertical-align:top;  width:16px;}
