<STX><ESC>C0<ETX>
<STX><ESC>P;<ETX>
<STX>E4;F4,DEMO 4;<ETX>
<STX>L1;o11,447;f0;l1207;w4;<ETX>
<STX>L2;o11,285;f0;l1207;w4;<ETX>
<STX>W3;o11,0;f0;l1207;h802;w4;<ETX>
<STX>B4;o658,650;f0;h102;w2;c12,0,9,0;i1;r1;d0,60;<ETX>
<STX>I4;o658,752;f0;h1;w1;c20;r0;b0;<ETX>
<STX>B5;o87,650;f0;h102;w2;c0,0;i1;r1;d0,16;<ETX>
<STX>I5;o87,752;f0;h1;w1;c20;r0;b0;<ETX>
<STX>H6;o34,183;f0;h1;w1;c22;r0;b0;d0,17;<ETX>
<STX>H7;o35,143;f0;h1;w1;c21;r0;b0;d3,Vendor#;<ETX>
<STX>H9;o40,305;f0;h1;w1;c21;r0;b0;d3,Part Number;<ETX>
<STX>L10;o11,609;f0;l1207;w4;<ETX>
<STX>H12;o1022,508;f0;h1;w1;c22;r0;b0;d0,7;<ETX>
<STX>H13;o1022,467;f0;h1;w1;c21;r0;b0;d3,Line No;<ETX>
<STX>H16;o42,508;f0;h1;w1;c22;r0;b0;d0,15;<ETX>
<STX>H17;o43,467;f0;h1;w1;c21;r0;b0;d3,Purchase Order No;<ETX>
<STX>H18;o1022,346;f0;h1;w1;c22;r0;b0;d0,13;<ETX>
<STX>H19;o1022,305;f0;h1;w1;c21;r0;b0;d3,Quantity;<ETX>
<STX>H21;o34,346;f0;h1;w1;c22;r0;b0;d0,11;<ETX>
<STX>H22;o747,183;f0;h1;w1;c22;r0;b0;d0,15;<ETX>
<STX>H23;o743,143;f0;h1;w1;c21;r0;b0;d3,Vendor Name;<ETX>
<STX>H24;o13,0;f0;h51;w34;c25;r0;b3;d3, SHIPPING LABEL ;<ETX>
<STX>R<ETX>
<STX><ESC>E4<CAN><ETX>
<STX><ESC>F4<LF>${data.description}<ETX>
<STX><ESC>F5<LF>DUMMY<ETX>
<STX><ESC>F6<LF>DUMMY<ETX>
<STX><ESC>F12<LF>${data.itemNo}<ETX>
<STX><ESC>F16<LF>DUMMY<ETX>
<STX><ESC>F18<LF>${data.quantity}<ETX>
<STX><ESC>F21<LF>${data.description}<ETX>
<STX><ESC>F22<LF>DUMMY<ETX>
<STX><ETB><FF><ETX>
