a.WidgetButton4 {
	background-image: url(../../imgs/button/bw8u.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #E6E6FA;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
	align: center;
	}
				
a.WidgetButton4:hover {
	background-image: url(../../imgs/button/bw8d.gif) ;
	background-position : center;
	background-repeat : no-repeat;
	color: #CCCCFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
	text-decoration: none;
}
				
a.WidgetButton8 {
	background-image: url(../../imgs/button/bw8u.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #E6E6FA;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
}
				
				
a.WidgetButton8:hover {
	background-image: url(../../imgs/button/bw8d.gif) ;
	background-position : center;
	background-repeat : no-repeat;
	color: #CCCCFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
	text-decoration: none;
}
				
a.WidgetButton12 {
	background-image: url(../../imgs/button/bw12u.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #E6E6FA;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
}
						
a.WidgetButton12:hover {
	background-image: url(../../imgs/button/bw12d.gif) ;
	background-position : center;
	background-repeat : no-repeat;
	color: #CCCCFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
	text-decoration: none;
}
				
a.WidgetButton16 {
	background-image: url(../../imgs/button/bw20u.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #E6E6FA;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
}
				
				
a.WidgetButton16:hover {
	background-image: url(../../imgs/button/bw20d.gif) ;
	background-position : center;
	background-repeat : no-repeat;
	color: #CCCCFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
	text-decoration: none;
}

a.WidgetButton20 {
	background-image: url(../../imgs/button/bw20u.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #E6E6FA;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
}
				
				
a.WidgetButton20:hover {
	background-image: url(../../imgs/button/bw20d.gif) ;
	background-position : center;
	background-repeat : no-repeat;
	color: #CCCCFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	letter-spacing: 0px;
	text-decoration: none;
}
				
a.WidgetButton4Submit {
	background-image: url(../../imgs/button/bw8su.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #99ccff;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
	word-spacing : normal;
}

a.WidgetButton4Submit:Hover {
	background-image: url(../../imgs/button/bw8sd.gif);
	background-position : center;
	background-repeat : no-repeat;
	color:#DCECFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}

a.WidgetButton8Submit {
	background-image: url(../../imgs/button/bw8su.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #99ccff;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}

a.WidgetButton8Submit:Hover {
	background-image: url(../../imgs/button/bw8sd.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #DCECFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}

a.WidgetButton12Submit {
	background-image: url(../../imgs/button/bw12su.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #99ccff;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}

a.WidgetButton12Submit:Hover {
	background-image: url(../../imgs/button/bw12sd.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #DCECFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}

a.WidgetButton16Submit {
	background-image: url(../../imgs/button/bw20su.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #99ccff;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}

a.WidgetButton16Submit:Hover {
	background-image: url(../../imgs/button/bw20sd.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #DCECFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}

a.WidgetButton20Submit {
	background-image: url(../../imgs/button/bw20su.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #99ccff;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}

a.WidgetButton20Submit:Hover {
	background-image: url(../../imgs/button/bw20sd.gif);
	background-position : center;
	background-repeat : no-repeat;
	color: #DCECFF;
	font-family: Helvetica;
	font-size: x-small;
	font-weight : bold;
	vertical-align : bottom;
	height: 20px;
	line-height : normal;
	text-align : center nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0px;
}




