/* 
  File name:  label.css
  Author:     paule  

  Description:
    Example StyleSheet that controls the display of the label, and label editor icon
*/

A.LabelEditor { 
	font-family :Times New Roman, Times, serif;    
	font-weight : normal;    
	font-variant : normal;    
	font-style : normal;  
 	font-size : small;    
 	padding-right: 10px;
   	background : url(../../imgs/label/editLabel.gif) no-repeat left; 
  	vertical-align : middle;  
  	text-decoration:none;
  	width:16px;  
 }
 
 A.LabelEditor:hover { 
	font-family :Times New Roman, Times, serif;    
	font-weight : normal;    
	font-variant : normal;    
	font-style : normal;  
 	font-size : small;    
 	padding-right: 10px;
 	background : url(../../imgs/label/editLabel.gif) no-repeat left; 
  	vertical-align : middle;  
  	text-decoration:none;
  	width:16px;  
 }
 