/***********************************************
  Settings for the Global Navigation Menu
 ***********************************************/
body {
	vertical-align : top;
}

div.navBar, div.navMenu {
	/* optional */
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: white;
	border: 2 px groove  #8f8f8f;
}
div.navBar {
	/* optional */
	padding: 6px 6px 10px 6px;
	background: url(../imgs/navigation/navBar.jpg);
}
a.navBarItem {
	text-decoration: none;
	/* optional */
	margin: 1px;
	padding: 2px 6px 2px 6px;
	border-right: 2px  solid #FF9A31;
	color: white;
	font-weight: bold;
	}
	
a.navBarItem:hover {
	/* optional */
	border-color: #E5ECF5  #798DA9 #798DA9 #E5ECF5;
	color: black;
	background : #e5e5e5;
	text-decoration: none;
	font-weight: bold;
}
div.navMenu {
	position: absolute;
	visibility: hidden;
	z-index: 101;
	/* optional */
	border-right: 1px  solid #5F5F5F;
	border-bottom: 1px solid #5F5F5F;
	background-color: black;
}
a.navMenuItem {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	padding: 3px;
	/* optional */
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: white;
}
a.navMenuItem:hover {
	/* optional */
	background-color: black;
	text-decoration: none;
	color: #FF9A31;
}
span.navMenuText {
}
span.navMenuMore {
	background-position : right;
	background-repeat : no-repeat;
	background-image : url(../imgs/navigation/arrow.gif);
	width:0px;
	vertical-align : baseline;
}



/***********************************************
  Settings for the Desktop Layout and Menu
 ***********************************************/

table.desktop {
	text-align: left;
	text-decoration: none;
	width: 185px;
	border-right: 2px  solid #FF9A31;
	background : url(../imgs/navigation/line.gif) top;
	vertical-align : top;
}

td.menuLevel1 {
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: black;
	padding: 3px;
	background : url(../imgs/navigation/pattern2.gif);
	width:100%;
	border-top: 15px solid #F3F3F3;
	vertical-align: top;
}
a.menuLevel1 {
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: black;
}
a.menuLevel1:hover {
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: Blue;
}
td.menuLevel2 {
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: blue;
	padding-bottom: 3px;
	margin-left: 13px;
	text-align: left;
}
a.menuLevel2 {
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: blue;
	padding-bottom: 3px;
	margin-left: 13px;
	text-align: left;
	text-decoration: none;
}
a.menuLevel2:hover {
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: #FF9A31;
	text-decoration: underline;
}
td.menuLevel3 {
	padding : 0px 0px 0px 40px;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: blue;
}
a.menuLevel3 {
	padding : 0px 0px 0px 40px;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: blue;
}
a.menuLevel3:hover {
	padding : 0px 0px 0px 40px;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: #FF9A31;
	text-decoration: underline;
}

/***********************************************
	  Settings for the History Bar Layout
 ***********************************************/

a.historyNav {
	color : black;
	text-decoration : none;
	font-size : 8pt;
	white-space : normal;
	font : bold;
	text-decoration:underline;
}
 
td.historyNav {
	color : black;
	text-decoration : none; 
	font-size : 8pt;
	white-space : normal;
	padding: 5px;
}



/***********************************************
	  Settings for the Section Bar Layout
 ***********************************************/
table.sectionNav,
table.contextNav {
	width:90%;
	border: 1px solid gray;
	margin-top: 10px;
}
table.sectionNavBody,
table.contextNavBody {
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: blue;
	text-decoration: none;
	padding-bottom: 5px;
	padding-left: 13px;
	text-align: left;
	white-space: normal;
}
table.sectionNavHeader,
table.contextNavHeader {
	padding: 3px;
	background : url(../imgs/navigation/pattern2.gif);
	width:100%;
	vertical-align: top;
}
td.sectionNavTitle,
td.contextNavTitle {
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: black;
	vertical-align: top;
}


/***********************************************
    Settings for the Default Nav Layout
 ***********************************************/

table.defaultNav {
    width:100%;
}
table.defaultNav td.backIcon {
    width:1%;
    text-align:left;
}
table.defaultNav td.backButton {
    width:20%;
    text-align:left;
    vertical-align:middle;
}
table.defaultNav td.forwardButton {
    width:78%;
    text-align: right;
    vertical-align:middle;
}
table.defaultNav td.forwardIcon {
    width:1%;
}
table.desktop tr.copyright {
  background:black;
}
table.desktop td.copyright {
  text-align:center;
  color:white;
}
table.desktop a.copyright,
table.desktop a.copyright:visited {
  color:white;
}
