
/********************************/
/** System Config Desktop CSS   */
/********************************/
.x-grid3-col-0 {margin-left:3px;}

.ux-treegrid-icon{background-position:center;  background-repeat:no-repeat;  border:0 none;  height:18px;
  margin:0px;  padding:0px;  position: absolute;  vertical-align:top;  width:16px;}

.x-grid3-row-expanded .x-grid3-row-body {
    background-color: #EEEEEE;
    padding: 5px;
}

.editable {
    background-color: papayawhip;
}

.field {
    background: url("../imgs/field.png") no-repeat transparent;
}

.field-cond {
    background: url("../imgs/field-cond.png") no-repeat transparent;
}

.rule {
    background: url("../imgs/rule.png") no-repeat transparent;
}

.rule-cond {
    background: url("../imgs/rule-cond.png") no-repeat transparent;
}

.icon-sub {
    background-image: url(../imgs/subscribe.png) !important;
    vertical-align: left;
}

.icon-unsub {
    background-image: url(../imgs/unsubscribe.png) !important;
    vertical-align: left;
}

.icon-show {
    background-image: url(../imgs/show_messages.gif) !important;
    vertical-align: left;
}

.icon-consume {
    background-image: url(../imgs/consume_messages.gif) !important;
    vertical-align: left;
}

.icon-summary {
    background-image: url(../imgs/event_summary.gif) !important;
}

.icon-tick {
    background-image: url(../imgs/tick.png) !important;
}	

.icon-expand-all {
    background-image: url(../imgs/expand-all.gif) !important;
}

.icon-collapse-all {
    background-image: url(../imgs/collapse-all.gif) !important;
}

.icon-filter-enabled {
    background-image: url(../imgs/filter-enabled.png) !important;
    background-size: 16px 16px;
}

.icon-filter-disabled {
    background-image: url(../imgs/filter-disabled.png) !important;
    background-size: 16px 16px;
}

.icon-filter-all {
    background-image: url(../imgs/filter-all.png) !important;
    background-size: 16px 16px;
}

.icon-test {
    background-image: url(../imgs/brick.png) !important;
}

.intro-img {
    vertical-align:top;
    float: left;
    padding: 5px;
}
.intro-list {
    list-style: circle inside none;
    padding: 0px 0px 0px 20px;
}
.clearboth {
    clear: both;
}
